@import './plantillaGral.css';
@import './header.css';
@import './footer.css';
@import './responsiveHeader.css';
@import url('./body.css') screen and (min-width: 768px);
@import url('./responsiveBotons.css') screen and (max-width: 767px);

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.editable-mobile {
    display: none;
}

@media (max-width: 768px) {
    .editable-desktop {
        display: none;
    }

    .editable-mobile {
        display: inline-block;
    }
}
