#appsEncabezadoGral {
    height: 60px;
    font-size: 14px;
    border-bottom: 1px solid var(--Off);
    background: var(--fondo01);
    transition: all 0.3s ease-in-out;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
}

#appsEncabezadoGral:hover {
    background: var(--fondo03);
    border-color: var(--OnActivo);
    box-shadow: 0 4px 15px var(--luzOn);
}

.appsBtnMenu {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.appsBtnMenu span {
    height: 3px;
    background-color: var(--Off);
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#appsEncabezadoGral:hover .appsBtnMenu span {
    background-color: var(--OnActivo);
    box-shadow: 0 0 10px var(--luzOn);
}

.appsBtnMenu:hover span {
    transform: rotate(180deg);
}

.appsBtnMenu.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.appsBtnMenu.open span:nth-child(2) {
    opacity: 0;
}

.appsBtnMenu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.appsLogo img {
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
}

#appsEncabezadoGral:hover .appsLogo img {
    transform: scale(1.1);
}

.appsTituloCinta {
    color: var(--RojoOnPasivo);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    font-weight: 600;
}

#appsEncabezadoGral:hover .appsTituloCinta {
    color: var(--RojoOnActivo);
    text-shadow: 0 0 10px var(--RojoOnActivo);
}

.appsContenidoCinta .nav-link {
    color: var(--RojoOnPasivo);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#appsEncabezadoGral:hover .appsContenidoCinta .nav-link {
    color: var(--RojoOnActivo);
    text-shadow: 0 0 10px var(--RojoOnActivo);
}

.appsInicioSesionCinta {
    border-radius: 25px;
    background: var(--fondoOff09);
    border: 2px solid var(--OnPasivo);
    color: var(--OnPasivo);
    transition: all 0.3s ease;
}

.appsInicioSesionCinta:hover {
    color: var(--OnActivo);
    background: var(--fondo03);
    box-shadow: 0 4px 15px var(--luzOn);
    border-color: var(--luzOn);
    text-shadow: 0 0 10px var(--luzOn);
}
