@media screen and (max-width: 768px) {

    /* Encabezado */

    #appsEncabezadoGral {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        padding: 0  10px;
	}

    .appsName{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
    }

    .appsBtnMenu {
        display: flex;
        align-items: center;
	}

	.appsBtnMenu img {
        position: static;
		width: 60px;
		height: 60px;
	}

	.appsLogo {
        position: static;   		
	}

	.appsLogo img {
        position: static;
		height: 90px;
		width: 90px;
	}

	.appsTituloCinta {
        position: static;
		font-size: 5vw;
		user-select: none;
        display: flex;
        align-items: center;
	}

	.appsContenidoCinta {
        width: 100%;
		height: 90px;
		font-size: 4vw;
		user-select: none;
        display: flex;
        align-items: center;
        margin: 10px;
	}

	.appsInicioSesionCinta {
		position: static;
		width: 100%;
		font-size: 4vw;
		user-select: none;
        display: flex; /* Habilita flexbox */
        align-items: center; /* Centra verticalmente */
        justify-content: center; /* Centra horizontalmente */
        margin: 10px;   
        background: var(--fondo03);
        color: var(--OnActivo);
        text-shadow: 0px 0px 10px var(--luzOn);
        border-color: var(--luzOn);
        box-shadow: 0px 4px 15px var(--luzOn);
        background: var(--fondo03);
	}

    /* Estilo general para botones */

    #h2 {
        top: 300px;
    }

    #appsContenedor {
        top: 400px;
        display: flex;
        flex-wrap: wrap;
        position: relative; /* Asegura que 'top' funcione correctamente */
        user-select: none;
    }

    .boton {
        width: 96%;
        height: 100px;
        margin: 5px;
        border-radius: 5px;
        user-select: none;
    }

    /* Enlaces dentro de botones */
    .boton a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        text-decoration: none;
    }

    /* Imágenes dentro de botones */
    .boton img {
        height: 90px;
        width: 90px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #ebe6ec;
        user-select: none;
    }

    /* Texto dentro de botones */
    .boton p {
        margin: 0;
        padding-left: 25px;
        flex-grow: 1;
        color: black;
        font-weight: normal;
        font-size: 1.5em; /* Ajuste para pantallas pequeñas */
        text-align: left;
    }
}
